/* Dark mode base styles */
body {
  background-color: #121212;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23010012' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
  color: #e0e0e0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: left;
  gap: 20px;
  padding: 15px;
  background-color: #1f1f1f;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 2px solid #333;
  scrollbar-width: none;
  z-index: 100;
}

nav::-webkit-scrollbar {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px; /* Adjust spacing between list items */
}

nav li {
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #333;
  color: #ffa726;
}

.active-nav-link {
  text-decoration: underline;
  font-weight: bold;
  color: #ffa726;
  transition: background-color 0.3s ease;
}

.header {
  font-size: 28px;
  margin: 20px 0;
  color: #ffa726;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #000;
}